KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPICS=events.clicks,events.page_views,events.video,events.search

CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_DATABASE=analytics
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=